tests/
.pytest_cache/
htmlcov/
.coverage

__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example


*.log
bot/logs/

.idea/
.vscode/
.venv/

.git/
.github/
.gitignore

Dockerfile
.dockerignore
docker-compose*.yml     # ← этот файл уже есть на сервере отдельно

README.md
pytest.ini
alembic.ini